.height{
    height: 100px;
}

.text-color{
    color: cyan;
}
.card-margin-top{
    margin-top: 54px;
}
.card-margin-top1{
    margin-top: 172px;
}
.margin-top1{
    margin-top: 50px;
}
.margin-top2{
    margin-top: 140px;
}